!!! 5
html
  head
    title Web Coverage Server for Selenium Projects 
  body
    p A simple web application to collect and process Selenium tests and what they interacted with.
      | This site will show the results of tests that have been recorded.
