!!! 5
html
  head
    title Web Coverage Server for Selenium Projects 
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header#head-container.placement
      h1 WebCoverage is a an attempt to generate a UI HeatMap of Selenium Tests
    section#main-container.placement!= body

    footer.placement
      p  
        :markdown
          David Burns [The Automated Tester](http://www.theautomatedtester.co.uk) 
