header#head-container.placement
  h1 WebCoverage is a an attempt to generate a UI HeatMap of Selenium Tests
section#main-container.placement
  p 
    | Everyday users get stuck with what their Selenium tests are actually
    | interacting with. They know what its doing when they created it 
    | but what about the areas that it's not touching?
