body {
    background:black;
    color:white !important;
    font-family:Verdana;
}

h1 {
    font-size:20px!important;
    color: #ff9;
}

.placement {
    width:800px;
    padding:0 120px 0 120px;
    float:left;
}

#main-container {
    font-size:13px!important;
}
